.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}
/* homePage */

.home-page {
  padding: 20px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  cursor: pointer;
}

.product-item:hover {
  background-color: #f0f0f0;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
